* {
  margin: 0; 
  margin: 0; 
}
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.bla{
  padding-top: 100px;
}
.bla > h1{
  color: yellow;
  -webkit-text-stroke-width: 2px;  
  -webkit-text-stroke-color: red; 
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
}

.box{
  position: relative;
  text-align: center;
  bottom: 500px;
}



.inner-container{

  position:absolute;
  bottom:200px;
  left:calc(50vw - 500px);
  overflow:hidden;
}

.box{
  position: initial;
  color:#fff;
  background:rgba(0,0,0,0.13);
  margin:30px 0px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50px;
  border:1px dotted black;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}

.box input{
  display:block;
  width:300px;
  padding:20px auto;
  margin:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.iaosdui{
  justify-content: baseline
}