*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black
}

.formulario{
}
.nome{
    margin-left: 100px;
}

.tabela{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    justify-items: center;
    border: 1px solid #ddd;
    color: #fff;
    margin-right: 30%;
}
.formulario{ 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.tbody{
}

