*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black
}

.formulario{
    display: flex;
}
.nome{
    margin-left: 100px;
}

.tabela{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    justify-items: center;
    border: 1px solid #ddd;
    color: #fff;
    margin-right: 30%;
}
.tbody{
    display: flex;
}
.tbody{
}

